.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'h h'
    'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  overflow-x: hidden;
}

.header {
  grid-area: h;
  background-color: coral;
}

.header img {
  width: 70px;
  height: 70px;
}

.nav {
  grid-area: n;
  background-color: darkseagreen;
}

.content {
  grid-area: c;
  background-color: goldenrod;
}