.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
    color: blanchedalmond;
}

.sendMessageBlock {
    display: flex;
    align-items: center;
}

.newMessageField {
    min-width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: ivory;
}

.sendButton {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.sendButton:hover {
    cursor: pointer;
    background-color: darkgray;
}

.dialog {

}

.active a {
    color: aqua;
}

.messages {
    background-color: darkseagreen;

}

.message {

}