.messageBlock {
    display: flex;
    align-items: center;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: ivory;
}

.userAvatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}